.user-card {
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: #ffffff34;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-card > button {
    margin: 0px auto;
    background-color: #431324;
    width: fit-content;
    color: white;
    border-radius: 10px;
    height: 35px;
    font-size: 18px;
    padding: 4px;
    text-align: center;
}

.pending {
    font-size: 18px;
}

.error-request-text {
    font-size: 10px;
}