.form {
    border: solid 3px rgb(11, 11, 128, 0.7);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 7px auto;
    padding: 10px 0;
}

.form > * {
    margin: 7px auto;
}

.form > input {
    width: 80%;
    border-radius: 2px;
    font-size: 20px;
    height: 25px;
    border-radius: 5px;
}

.form > button {
    background-color: rgb(22, 22, 255);
    border: 10px;
    border-radius: 10px;
    color: white;
    padding: 3px 5px;
    font-size: 20px;
}

.btn-disabled {
    background-color: rgb(11, 11, 128, 0.7) !important;
}

